

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="styles.css"/>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<title>Cv Orlane</title>
</head>
<body >
    <div id="cv">
        <div><img src="Cv.JPG" alt="Orlane tariot"/></div>
        <div class="haut">
            <div class="blockleft">
                
                
                
                <div class="enteteleft">
                </div>
                <h4>Qui suis-je ? :</h4>
                <div v-for="experience in experiences">
                    <p>{{experience.description}}</p></div>
                <h4>formations & Diplômes :</h4>
                <div v-for="formation in Formations">
                    <h3>{{formation.dates}} chez {{formation.titre}} </h3> 
                    <p>{{formation.description}}</p></div>
            </div>

            <div class="blockright">
                <div class="enteteright">
                </div>
                <h4>experiences :</h4>
                <div v-for="experience in experiences">
                    <h3>{{experience.titre}} chez {{experience.employeur}} </h3> 
                    <p>{{experience.description}}</p></div>
                
                
            </div>
        </div>
        <div class="bas">
            <div class="blockleft">
                
                <div class="enteteleft"> 
                <div class="titre"><h4> Savoir-faire</h4></div>
                </div>

                <h4>Langues :</h4>
                <div v-for="langue in langues">
                    <p>{{langue.titre}} {{langue.description}}</p></div>
                
                <h4> Activités:</h4>
                <div v-for="activite in activites">
                    <p>{{activite.titre}}</p></div>
                
                <h4>Logiciels/Outils:</h4>
                <div v-for="logiciel in logiciels">
                    <p>{{logiciel.titre}}</p></div>

                <h4>Langages :</h4>
                <div v-for="langage in langages">
                    <p>{{langage.titre}}</p></div>
            </div>
            
            <div class="blockright">
                <div class="enteteright">
                </div>
                <h4>informations :</h4>
                    <div v-for="information in informations">
                        <p>{{information.mail}} <br> {{information.portable}} <br> {{information.adresse}}<br> {{information.site}}</p></div>
                     
                <h4>compétences :</h4>
                <div v-for="competence in competences">
                    <p>{{competence.icones}} {{competence.description}}</p></div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: "#cv",
            data: {
                test:"bonjour",
                experiences:[
                    {
                        titre: "Assistance Webdisgner & intégrateur web",
                        description: "Accueil physique et téléphonique, gestion des demandes clients Prise de rendez vous qualifiés, mise à jour des dossiers, gestion des plannings experts",
                        dates:"Septembre 2020 à Août 2021 ",
                        employeur:"digimo Invest, Vertou (44)",
                            
                    },
                    {
                        titre: "Stage, 6 semaines.",
                        description: "Intégration d’une page web html/ css. Création d’une calculatrice et d’un formulaire en Javascript. Conversion d’une page web en document PDF avec wkhtmltopdf.",
                        dates:"- Janvier 2020",
                        employeur:"Log’in Line, Bordeaux (33)",
                            
                    },
                    {
                        titre: "Stage, 5 semaines.",
                        description: "Création d’un système applicatif en C#, qui permet la récupération des logs grâce à un web service pour les stocker dans une base de données et les afficher sur un page Web en JavaScript.",
                        dates:"- Mai à Juin 2019",
                        employeur:"Espace Technologie, Challans (85)",
                            
                    },
                    
                ],
                Formations:[
                    {
                        titre: "Bachelor WebDesign École MyDigitalSchool Nantes (44)",
                        description: "Acctellement en troisième année de Bachelor Web Design.",
                        dates:"2020 - 2021 :",
                            
                    },
                    {
                        titre: "Bachelor WebDesign École MyDigitalSchool Nantes (44)",
                        description: "Acctellement en troisième année de Bachelor Web Design.",
                        dates:"2020 - 2021 :",
                            
                    },
                    {
                        titre: "Bachelor WebDesign École MyDigitalSchool Nantes (44)",
                        description: "Acctellement en troisième année de Bachelor Web Design.",
                        dates:"2020 - 2021 :",
                            
                    },
                ],

                descriptions:[
                    {
                    
                        description:"Créative, curieuse et déterminée, j’apprécie tout particulièrement la création, le design et les nouvelles technologies. Polyvalente, je peux créer une maquette et l’intégrer en Html, Css, Java script et/ou sur WordPress. Je peux également réaliser des audits de site web, des créations de wireframes puis des Maquettes XD, ergonomique et accessible en respectant les critères Heuristiques de Bastien et Scapin. En outre des compétences en motion design."
                            
                    },
                ],
                competences:[
                    {
                        
                        icones:">",
                        description:"UI design"
                            
                    },
                    {
                        
                        icones:">",
                        description:"UX design"
                            
                    },
                    {
                        
                        icones:">",
                        description:"Conceptions d’identité visuelle : charte graphique logo"
                            
                    },
                    {
                        
                        icones:">",
                        description:"Maquettage pour site web et application mobile"
                            
                    },
                    {
                        
                        icones:">",
                        description:"Gestion de projet avec la méthode agile"
                            
                    },
                ],
                langues:[
                    {
                    
                        titre:"Anglais :",
                        description:"Niveau B2"
                            
                    },
                    {
                    
                        titre:"Espagnol :",
                        description:"Niveau B1"
                        
                },
                ],
                activites:[
                    {
                    
                        titre:"danse, théâtre, surf, paddle",
                            
                    },
                    
                ],

                logiciels:[
                    {
                    
                        titre:"Adobe XD, InDesign, Illustrateur, Photoshop, Premier Pro, After Effects, Microsoft Office, PhpStorm, Laravel, Visual Studio, Vmware, GitHub, Mysql.",
                            
                    },
                    
                ],
                langages:[
                    {
                    
                        titre:"Php, JavaScript, html, Css, VuJS.",
                            
                    },
                    
                ],
                informations:[
                    {
                    
                        nom:"Tariot",
                        prenom:"Orlane",
                        portable:"07.81.36.51.27",
                        mail:"orlanetariot@gmail.com",
                        post:"designer & intégrateur web",
                        adresse:" 130 rue du Bois Hardy, 44100 Nantes",
                        site:"www.orlanetariot.willr.fr",

                            
                    },
                    
                ],
                },
            created: function () {
                
            },
            methods: {
                
            },
        });
    </script>
</body>
</html>
